:root {
  --max-description-width: 400px;
}

body {
  min-width: 1110px;
  font-family: Arial, sans-serif;
  margin: 25px;
  overflow-x: hidden;
  overflow-y: scroll;
}

main h1 {
  text-align: center;
}

header {
  background: url(../images/purple.jpg);
  background-repeat: no-repeat;
  margin-top: 59px;
  background-size: cover;
  padding: 30px;
  height: 194px;
}

.logo a img {
  width: 173px;
  position: relative;
  top: 28px;
}

.separator_t {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  top: -137px;
  width: 4000px;
  left: -30px;
}

#topNav {
  width: 1927px;
  height: 36px;
  margin-top: -27px;
  margin-left: -29px;
  background: url(../images/purple.jpg);
}

#topNav::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 0, 0, 0.275);
  mix-blend-mode: multiply;
}

.topbar a {
  color: white;
  text-decoration: none;
  position: relative;
  text-shadow: 2px 2px 2px #7b927b60;
  left: 1325px;
  top: -28px;
}

#gnav {
  width: 100%;
  display: flex;
  position: relative;
  top: 445px;
  left: -1555px;
  justify-content: right;
  vertical-align: bottom;
  list-style-type: none;
}

#gnav li img {
  vertical-align: middle;
  filter: invert(50%);
  position: relative;
  width: 42px;
}

#gnav li {
  position: relative;
  bottom: 576px;
  right: 79px;
  padding: 20px;
}

#gnav li a {
  display: flex;
  justify-content: flex-end;
  font-family: 'Zen Maru Gothic', serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px #7b927b60;
  text-decoration: none;
}

#gnav li a,
#gnav li img {
  transition: all 0.3s ease-in-out;
}




.separator_r {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  bottom: 574px;
  right: 60px;
  height: 113px;
}

input[type="text"] {
  background-color: white;
  height: 50px;
}

button {
  background-color: white;
  color: black;
  width: 120px;
  height: 35px;
}

header {
  background: url(../images/purple.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  height: 206px;
}

#search {
  margin-left: 133px;
}

#h_inner {
  width: 2528px;
  margin-left: -40px;
  margin-top: -62px;
}

#videogame {
  left: 50px;
}

#pcgame {
  left: 37px;
}

#onlinegame {
  left: 50px;
}

#mobilegame {
  filter: invert(50%);
  left: 60px;
}

::placeholder {
  padding-left: 20px;
}

form {
  position: relative;
  top: -212px;
  right: -758px;
}

button {
  position: relative;
  font-size: 25px;
  left: 9px;
  top: 6px;
}

main {
  margin-top: 107px;
  height: 480px;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
}

h2 {
  margin-left: 10px;
}

.game-info {
  padding-right: 699px;
  margin-left: 49px;
  display: flex;
  flex-direction: column;
  margin-top: 2px;
}

.game-image {
  margin-bottom: 10px;
}

.game-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 5px solid white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.game-title {
  font-size: 24px;
  text-shadow: 2px 2px 2px #7b927b60;
  margin-bottom: 10px;
}

.game-date {
  color: gray;
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px #7b927b60;
}

.game-description {
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px #7b927b60;
  max-width: var(--max-width, var(--max-description-width));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  border: 5px solid white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}