* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  /*body高さは100%ウインドウ高さに設定する*/
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


:root {
  --max-description-width: 400px;
}

body {
  min-width: 1110px;
  font-family: Arial, sans-serif;
  margin: 25px;
  overflow-x: hidden;
  overflow-y: scroll;
}

main h1 {
  text-align: center;
}

.top-header {
  margin-top: -872px;
  height: 50px;
  margin-left: -365px;
}

.logo img {
  width: 100px;
  height: 123px;
  margin-left: -1053px;
  margin-bottom: -100px;
}

.left-nav {
  width: 30vw;
  height: 51px;
  border-radius: 30px;
  line-height: 60px;
  margin-left: 250px;
  background-color: #fff;
  box-shadow: 0 10px 35px rgb(185 38 205 / 79%);
}

.left-nav nav {
  display: flex;
  position: relative;
}

.left-nav nav label {
  flex: 1;
  width: 100%;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.left-nav nav label a {
  position: relative;
  z-index: -1;
  top: -2px;
  left: -2px;
  color: #333;
  position: relative;
  z-index: -1;
  top: -2px;
  left: -2px;
  color: #333;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}

.left-nav nav label a img {
  font-size: 25px;
  margin: -7px 7px;
  width: 30px;
  height: 30px;
}

.left-nav nav input {
  display: none;
}

.left-nav nav .tab {
  position: absolute;
  height: 10%;
  width: 20%;
  left: 51px;
  bottom: 16px;
  background: linear-gradient(to right, #df97ef, #810f9b);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.left-nav nav #pcgame:checked~label.pcgame a,
.left-nav nav #mobilegame:checked~label.mobilegame a,
.left-nav nav #videogame:checked~label.videogame a {
  transition: 0.6s;
  top: -3px;
}

.left-nav nav #pcgame:checked~.tab {
  width: 20%;
  bottom: 16px;
  left: 39%;
}

.left-nav nav #mobilegame:checked~.tab {
  width: 20%;
  bottom: 16px;
  left: 75%;
}

form {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -64px;
  margin-left: 1066px;
}

:placeholder-shown {
  padding-left: 30px;
}

.right-header h2 {
  color: white;
  margin-right: -1270px;
  margin-top: -33px;
}

input {
  border-radius: 20px;
  background-color: #e3dfdf;
  border: solid 1px #333;
  height: 43px;
  margin-top: 19px;
  margin-left: -256px;
}

button {
  background-color: transparent;
  border: none;
}

button img {
  margin-left: -57px;
  margin-bottom: -16px;
  width: 20px;
  height: 20px;
}

:placeholder-shown {
  padding-left: 30px;
}


main {
  margin-top: 107px;
  height: 480px;
  display: flex;
  flex-direction: column;
}

.card {
  top: 40px;
  position: relative;
  left: 292px;
  display: flex;
}

h2 {
  color: white;
  margin-left: 10px;
}

.game-info {
  padding-right: 699px;
  margin-left: 49px;
  display: flex;
  flex-direction: column;
  margin-top: 2px;
}

.game-image {
  margin-bottom: 10px;
}

.game-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 5px solid white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.game-category {
  color: white;
  margin-left: -179px;
}

.game-type {
  margin-left: -177px;
  color: white;
}

.game-title {
  color: white;
  font-size: 24px;
  text-shadow: 2px 2px 2px #7b927b60;
  margin-bottom: 10px;
}

.game-date {
  color: white;
  margin-bottom: 10px;
  margin-left: -177px;
  text-shadow: 2px 2px 2px #7b927b60;
}

.game-description {
  color: white;
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px #7b927b60;
  max-width: var(--max-width, var(--max-description-width));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}